/* header css */

/* section one */

/* features section */

/* our-team section */

/* portfolio section */

/* footer —Åss */

/* HM-03 */
h1,
h2,
h3,
p {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 120px 0;
}
/* HM-05 MODAL */
