.hidden {
  display: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* common */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* header */
.header {
  position: relative;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}

.light {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    text-decoration: none;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  address {
    font-style: normal;
  }

  .contacts {
    font-style: normal;
    display: block;
  }
  .contacts-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .contacts-list {
    list-style: none;
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  .contacts-link {
    padding: 24px 0;
    text-decoration: none;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding: 72px 24px 40px 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-close-icon {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.mobile-nav-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link.current {
  color: #404bbf;
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #404bbf;
}

.mobile-contacts {
  font-style: normal;
  margin-top: auto;
}
.mobile-contacts-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 46px;
}

.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-contacts-link.current {
  color: #4d5ae5;
}

.mobile-menu-nav,
.mobile-contacts,
.mobile-socials {
  align-self: flex-start;
}

.mobile-socials {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.mobile-social-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.mobile-social-item {
  width: 40px;
  height: 40px;
}

:root {
  --color-social-bg: #4d5ae5;
  --color-social-hover: #404bbf;
  --color-social-icon: #f4f4fd;
}

.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-social-bg);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: var(--color-social-hover);
}
.mobile-social-icon {
  width: 24px;
  height: 24px;
  fill: var(--color-social-icon);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* section one */
.fon {
  background-color: #2e2f42;
  padding: 72px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/background-fon.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 0 72px 0;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .fon {
    padding: 112px 0;
    max-width: 768px;
  }
  .title {
    font-size: 56px;
    line-height: 1.07;
    margin: 0 0 36px 0;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1158px) {
  .fon {
    padding: 188px 0;
    max-width: 1440px;
  }
  .title {
    margin: 0 0 48px 0;
    margin-left: auto;
    margin-right: auto;
  }
}

/* features section */
.icon {
  display: none;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  margin: 0;
  padding: 0;
}
.features-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.features-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section {
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    column-gap: 24px;
    row-gap: 64px;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .features-item-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
  }
  .features-item-text {
    font-weight: 400;
  }
  .icon {
    display: flex;
    width: 64px;
    height: 64px;
  }
  .icon-style {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }
  .section {
    padding: 120px 0;
  }
}
/* our-team section */
.team {
  background-color: #f4f4fd;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin: 0 0 72px 0;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 72px;
}
.team-item {
  text-align: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-container {
  padding: 32px 0;
  text-align: center;
}
.team-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-role {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.social-links-team {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.social-item-team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

:root {
  --color-social-bg: #4d5ae5;
  --color-social-hover: #404bbf;
  --color-social-icon: #f4f4fd;
}

.social-link-team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-social-bg);
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-team:hover,
.social-link-team:focus {
  background-color: var(--color-social-hover);
}

.social-icon-team {
  width: 16px;
  height: 16px;
  fill: var(--color-social-icon);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
}
@media screen and (min-width: 1158px) {
  .team__list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}
